[submodule "base/phuzzer"]
	path = base/phuzzer
	url = git@github.com:etrickel/phuzzer.git
[submodule "python/pythonsrc37"]
	path = python/pythonsrc37
	url = git@github.com:sefcom/Witcher-python
[submodule "ruby/rubysrc271"]
	path = ruby/rubysrc271
	url = git@github.com:sefcom/Witcher-ruby
[submodule "base/Widash"]
	path = base/Widash
	url = git@github.com:sefcom/Widash.git
