[submodule "base/phuzzer"]
	path = base/phuzzer
	url = git@github.com:etrickel/phuzzer.git
[submodule "python/pythonsrc37"]
	path = python/pythonsrc37
	url = git@github.com:sefcom/Witcher-python
[submodule "ruby/rubysrc271"]
	path = ruby/rubysrc271
	url = git@github.com:sefcom/Witcher-ruby
[submodule "base/Widash"]
	path = base/Widash
	url = git@github.com:sefcom/Widash.git
[submodule "nodejs/Witcher-nodejs"]
	path = nodejs/Witcher-nodejs
	url = git@github.com:sefcom/Witcher-nodejs
[submodule "java/jdksrc"]
	path = java/jdksrc
	url = git@github.com:sefcom/Witcher-java
[submodule "nodejs/juice-shop/app"]
	path = nodejs/juice-shop/app
	url = git@github.com:/bkimminich/juice-shop.git
