@charset "utf-8";
/*Reset CSS */
body{
	font-family:'Microsoft YaHei', Arial;
	color:#333;
	font-size:14px;
	tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-moz-tap-highlight-color:rgba(0,0,0,0)
}
html,body,button,input,select,textarea,figure,h1,h2,h3,h4,h5,ul,li,dl,dt,dd,p,span,form{
	margin:0; padding:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
ol, ul, li,input{ list-style:none}
i,o,em{ font-style:normal}
input{font-family: Microsoft YaHei, Arial;}
input::-ms-clear{display:none;}
input::-ms-reveal{display:none;}
img { border:0; vertical-align:middle;width:100%;}
.clearfix{ overflow:hidden; zoom:1}
.clear{ clear:both}
a{ color:#333; text-decoration:none}
.fl{float:left;}
.fr{float:right;}
.font12{font-size:12px;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.font18{font-size:18px;}
.grey{color:#949494;}
@media screen and (min-width: 240px) {
    html,body,button,input,select,textarea {
        font-size:9px
    }
}

@media screen and (min-width: 320px) {
    html,body,button,input,select,textarea {
        font-size:12px
    }
}

@media screen and (min-width: 374px) {
    html,body,button,input,select,textarea {
        font-size:14px
    }
}

@media screen and (min-width: 400px) {
    html,body,button,input,select,textarea {
        font-size:15px
    }
}

@media screen and (min-width: 413px) {
    html,body,button,input,select,textarea {
        font-size:15.5px
    }
}

@media screen and (min-width: 426px) {
    html,body,button,input,select,textarea {
        font-size:16px
    }
}

@media screen and (min-width: 450px) {
    html,body,button,input,select,textarea {
        font-size:18px
    }
}

@media screen and (min-width: 480px) {
    html,body,button,input,select,textarea {
        font-size:18px
    }
}

@media screen and (min-width: 540px) {
    html,body,button,input,select,textarea {
        font-size:20.25px
    }
}

@media screen and (min-width: 590px) {
    html,body,button,input,select,textarea {
        font-size:22.13px
    }
}

@media screen and (min-width: 600px) {
    html,body,button,input,select,textarea {
        font-size:22.5px
    }
}

@media screen and (min-width: 640px) {
    html,body,button,input,select,textarea {
        font-size:24px
    }
}

@media screen and (min-width: 720px) {
    html,body,button,input,select,textarea {
        font-size:27px
    }
}

@media screen and (min-width: 800px) {
    html,body,button,input,select,textarea {
        font-size:30px
    }
}