select, textarea,
input[type='text'], input[type='password'], input[type='number'],
input[type='datetime'], input[type='datetime-local'], input[type='date'],
input[type='month'], input[type='time'], input[type='week'], input[type='email'],
input[type='url'], input[type='search'], input[type='tel'], input[type='color'],
.uneditable-input, .text-input, .text {
	display: inline-block;
	height: 20px;
	border: 1px solid #ccc;
	padding: 3px 6px;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	-webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;

}

select {
	-webkit-border-radius: 0;
}

select:focus, textarea:focus,  input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus,
input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus,
input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus,
.uneditable-input:focus,  .text-input:focus, .text:focus{
	border: 1px solid #ed7020;
	background: #fff;
	outline: none;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 102, 51, .6);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 102, 51, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 102, 51, .6);
}